*~
*.gmo
*.o
*.pot
.anjuta*
.deps
.intltool-merge-cache
autom4te.cache
config.h
config.log
config.status
hinedo-applet.anjuta
stamp-*
Makefile
po/POTFILES
po/Makefile.in
src/hinedo-applet
src/hinedo-applet.server
src/hinedo-applet.server.in
